<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gov.jake.geojacob.geotracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        tools:targetApi="n">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="jake.gov"
                    android:pathPattern="/.home"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".NetworkGPSService"
            android:description="@string/service_description"
            android:exported="false"
            android:enabled="true"
            android:permission="android.permission.INTERNET"
            >
        </service>

        <!--<receiver-->
            <!--android:name=".MainActivity$NetworkChangeReceiver"-->
            <!--android:label="NetworkChangeReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>